<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Driver Drowsiness Detection</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>   
        <img class="header_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy">
        <a class="header-logo" href="#">Driver Drowsiness Detection(V0.1)</a>
    </header>

    <div class="main">    
        <h2> ドライバー（作業者）の連続した顔画像をアップロードし眠気度（危険度）を判定します</h2>
        <p>画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <!-- <input class="file_choose" type="file" name="file"> -->
            <input  class="file_choose" type="file" name="files"  multiple  />
            <input class="btn" value="submit!" type="submit">
        </form>
        <div class="answer">{{answer}}</div>
        <div class="answer2">{{answer2}}</div>
        <div class="answer3">{{answer3}}</div>
        <div class="answer4">{{answer4}}</div>
    </div>

    <footer>
        <img class="footer_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy">
        <small>&copy; 2024 DDD, inc.</small>   
    </footer>
</body>
</html>